* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

#container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #232323;
  color: #f1f2f5;
}
#container .project_image {
  flex: 1.4;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
#container .project_image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#container .project_desc {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px 20px;
}
#container .project_desc .project_title {
  margin-bottom: 20px;
}
#container .project_desc .project_title h3 {
  font-size: 36px;
  margin-bottom: 14px;
}
#container .project_desc .project_title > p {
  font-size: 16px;
  color: #ababab;
  word-break: keep-all;
}
#container .project_desc .project_title .badge {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px 0;
}
#container .project_desc .project_title .badge > span {
  border: 2px solid orange;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
}
#container .project_desc .project_overview h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: orange;
}
#container .project_desc .project_overview p {
  width: 100%;
  display: block;
  font-size: 15px;
  line-height: 1.6;
  word-break: keep-all;
}
#container .project_desc .project_overview p:nth-of-type(1), #container .project_desc .project_overview p:nth-of-type(3) {
  margin-bottom: 20px;
}
#container .project_desc .project_work_info {
  margin-bottom: 20px;
}
#container .project_desc .project_work_info h3 {
  margin-bottom: 10px;
  font-size: 24px;
  color: orange;
}
#container .project_desc .project_work_info li {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  line-height: 3rem;
}
#container .project_desc .project_work_info li:nth-of-type(3) > span:nth-child(2) {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#container .project_desc .project_work_info li:nth-of-type(3) > span:nth-child(2) img {
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
#container .project_desc .project_work_info li > span:nth-child(1) {
  flex: 2.5;
  font-weight: 600;
}
#container .project_desc .project_work_info li > span:nth-child(2) {
  flex: 7.5;
  display: flex;
  align-items: center;
  gap: 20px;
}
#container .project_desc .project_work_info li > span:nth-child(2) img {
  width: 30px;
}
#container .project_desc .view_more_btn button {
  display: block;
  width: 100%;
  border: none;
  border-radius: 30px;
  margin-bottom: 40px;
  transition: 0.3s;
  background: orange;
}
#container .project_desc .view_more_btn button:hover {
  background: rgb(255, 178, 34);
}
#container .project_desc .view_more_btn button a {
  display: block;
  border-radius: 30px;
  padding: 16px 50px;
  font-size: 18px;
  color: #000;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #container {
    overflow: visible;
  }
  #container .project_desc {
    justify-content: flex-start;
    padding: 30px 15px;
  }
  #container .project_desc .project_title {
    margin-bottom: 10px;
  }
  #container .project_desc .project_title h3 {
    font-size: 30px;
  }
  #container .project_desc .project_title p {
    font-size: 15px;
  }
  #container .project_desc .project_title .badge {
    gap: 8px;
  }
  #container .project_desc .project_title .badge span {
    padding: 3px 6px;
  }
  #container .project_desc .project_overview h3 {
    font-size: 20px;
    margin-bottom: 7px;
  }
  #container .project_desc .project_overview p {
    font-size: 14px;
  }
  #container .project_desc .project_overview p:nth-of-type(1), #container .project_desc .project_overview p:nth-of-type(3) {
    margin-bottom: 10px;
  }
  #container .project_desc .project_work_info {
    margin-bottom: 10px;
  }
  #container .project_desc .project_work_info h3 {
    font-size: 20px;
    margin-bottom: 7px;
  }
  #container .project_desc .project_work_info li {
    line-height: 1.8rem;
  }
  #container .project_desc .project_work_info li span {
    font-size: 14px;
  }
  #container .project_desc .project_work_info li:nth-of-type(3) > span:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 0;
  }
  #container .project_desc .project_work_info li:nth-of-type(3) > span:nth-child(2) img {
    width: 25px;
  }
  #container .project_desc .view_more_btn {
    margin-top: 20px;
  }
  #container .project_desc .view_more_btn button a {
    padding: 16px 0;
  }
}
@media screen and (max-width: 767px) {
  #container .project_image {
    display: none;
  }
  #container .project_desc {
    justify-content: flex-start;
    padding: 15px;
  }
  #container .project_desc .project_title {
    margin-bottom: 10px;
  }
  #container .project_desc .project_title h3 {
    font-size: 30px;
  }
  #container .project_desc .project_title p {
    font-size: 15px;
  }
  #container .project_desc .project_title .badge {
    gap: 8px;
  }
  #container .project_desc .project_title .badge span {
    padding: 3px 6px;
    font-size: 13px;
  }
  #container .project_desc .project_overview h3 {
    font-size: 20px;
    margin-bottom: 7px;
  }
  #container .project_desc .project_overview p {
    font-size: 14px;
  }
  #container .project_desc .project_overview p:nth-of-type(1), #container .project_desc .project_overview p:nth-of-type(3) {
    margin-bottom: 10px;
  }
  #container .project_desc .project_work_info {
    margin-bottom: 10px;
  }
  #container .project_desc .project_work_info h3 {
    font-size: 20px;
    margin-bottom: 7px;
  }
  #container .project_desc .project_work_info li {
    line-height: 2.5rem;
  }
  #container .project_desc .project_work_info li span {
    font-size: 14px;
  }
  #container .project_desc .project_work_info li:nth-of-type(3) > span:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 0;
  }
  #container .project_desc .project_work_info li:nth-of-type(3) > span:nth-child(2) img {
    width: 20px;
  }
  #container .project_desc .view_more_btn {
    margin-top: 30px;
  }
  #container .project_desc .view_more_btn button a {
    padding: 16px 0;
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */